.estatistica-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.estatistica-container.theme-dark {
    color: #fafafa;
}
.estatistica-container.theme-light {
    color: #333;
}
.estatistica-container.theme-dark .estatistica-header {
    background-color: #212121;
}
#estatistica-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
}
#estatistica-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    width: 100%;
    padding: 24px 12px;
}
.estatistica-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 12px;
    border-radius: 4px;
    box-shadow: 0 0 4px #111;
    cursor: pointer;
    position: relative;
}
.estatistica-item.theme-dark {
    background: #282828;
}
.estatistica-item.theme-light {
    background: #e5e5e5;
}
.estatistica-item.theme-dark:hover {
    background: #323232;
    box-shadow: 0 0 12px #111;
}
.estatistica-item.theme-light:hover {
    background: #d5d5d5;
    box-shadow: 0 0 12px #111;
}
.estatistica-item > .estatistica-item-header {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
.estatistica-item > .estatistica-item-icon {
    font-size: 120px;
    margin-top: 12px;
}
.estatistica-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}
#tabela-de-formulas {
    position: fixed;
    top: 0;
    right: 0;
    margin: 12px 24px;
}